html {
    font-family: verdana;
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-weight: 400;
    font-size: 50px;
}

main a {
    align-self: center;
    color: aquamarine;
    font-size: 16px;
}

footer {
    color: gray;
    text-align: right;
}
